ExcelConverter/vocationalSkill.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="vocationalSkill" type="vocationalSkill"/>

  <xs:complexType name="vocationalSkill">
    <xs:sequence/>
    <xs:attribute name="category" type="xs:string"/>
    <xs:attribute name="subcategory" type="xs:string"/>
    <xs:attribute name="subsubcategory" type="xs:string"/>
  </xs:complexType>
</xs:schema>

